<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snapchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:name=".SnapchatApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name="com.snapchat.service.MyScheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.snapchat.service.MyStartServiceReceiver" />

        <activity
            android:name="com.snapchat.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.snapchat.RegisterAndLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name="com.snapchat.MainActivity"
            android:label="@string/title_activity_main"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.snapchat.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snapchat.InboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name="com.snapchat.PaintActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name="com.snapchat.ContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.snapchat.ImageDisplay"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name="com.snapchat.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar" />

        <service android:name="com.snapchat.service.SnapchatInboxService" />
    </application>

</manifest>
